<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs2340.officehours.freshavocados">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Dialog.Presentation">
        <activity
            android:name=".controller.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".controller.RegistrationActivity"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".controller.ViewProfileActivity"
            android:label="@string/title_activity_view_profile" />
        <activity
            android:name=".controller.ConfirmPasswordActivity"
            android:label="@string/title_activity_confirm_password" />
        <activity
            android:name=".controller.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"></activity>
    </application>

</manifest>
